{% extends 'base.html.twig' %} 
{% block body %}
     <h1> Bienvenue !</h1>
     <h1> QUETE 16 </h1>
     <br>
     <a href="/category/add">L'URL renvoi sur la page "ajouter une catégorie"</a>
 {% endblock %}