{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Originals<span class="sr-only">(current)</span></a>
      </li>
        <a class="nav-link" href="/Program/">Liste des Series</a>
        <a class="nav-link" href="/season/">Liste des saisons</a>
        <a class="nav-link" href="/episode/">Liste des episodes</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="Genres">
          <a class="dropdown-item" href="/wild/category/horreur">Horror</a>
          <a class="dropdown-item" href="/nope">Action</a>
          <a class="dropdown-item" href="/nope">Animation</a>
          <a class="dropdown-item" href="/nope">Fantasy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/nope">More</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock %} 
